:root {
  color: var(--mantine-color-dark-8);
  background: var(--mantine-color-wood-0);
}

body {
  margin: 0;
  min-width: calc(var(--mantine-spacing-xl) * 10);
  min-height: 100vh;
  background: var(--mantine-color-wood-0);
}
